body {
    /* Setup columns and rows visually in a grid within CSS */
    grid-template-areas:
    "sidebar"
    "header"
    "main"
    "footer";

    display: grid;

}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

.sidebar{
    grid-area: sidebar;
}

footer{
    grid-area: footer;
}